<?xml version="1.0"?>
<!-- Copyright 2020-2022 University of Oxford

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<robot name="frontier" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- include the RealSense d435 from official Intel's repository -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
  <xacro:include filename="$(find ouster_description)/urdf/ouster.urdf.xacro" />
  <xacro:include filename="$(find hesai_description)/urdf/hesai.urdf.xacro" />
  <xacro:include filename="$(find frontier_description)/urdf/microstrain.urdf.xacro" /> 
  <xacro:include filename="$(find alphasense_description)/urdf/alphasense.urdf.xacro" />

  <xacro:macro name="frontier_device" params="parent:=base
                                             *origin
                                             simulation:=false
                                             use_ouster:=false
                                             use_realsense:=false
                                             rotate_ouster:=false
                                             raise_lidar:=false">

    <xacro:property name="lidar_hz" value="10" />

    <xacro:if value="${use_realsense}">
      <xacro:if value="${raise_lidar}">
        <!-- 4 mm standoff present, not shown in model -->
        <xacro:property name="lidar_z" value="81.7e-3"/>
      </xacro:if>

      <xacro:unless value="${raise_lidar}">
        <xacro:property name="lidar_z" value="77.7e-3"/>
      </xacro:unless>
    </xacro:if>

    <xacro:unless value="${use_realsense}">
      <!-- lidar is 1 mm higher than in the previous version of the halo -->
      <xacro:property name="lidar_z" value="91.683e-3"/>
    </xacro:unless>

    <!-- Assuming we are using Ouster OS1-64 -->
    <xacro:if value="${use_ouster}">   
      <xacro:property name="lidar_fov" value="45" />
      <xacro:property name="lidar_beams" value="64"/>
    </xacro:if>

    <!-- assuming we are using Hesai XT32 -->
    <xacro:unless value="${use_ouster}">
      <xacro:property name="lidar_fov" value="31" />
      <xacro:property name="lidar_beams" value="32"/>
    </xacro:unless>

    <xacro:if value="${rotate_ouster}">
      <xacro:property name="ouster_rotation" value="${-pi/4}"/>
    </xacro:if>

    <xacro:unless value="${rotate_ouster}">
      <xacro:property name="ouster_rotation" value="0"/>
    </xacro:unless>

    <!-- Assuming we are using RealSense D435i -->
    <xacro:if value="${use_realsense}">
      <link name="frontier_mount">
        <visual>
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
          <geometry>
            <mesh filename="package://frontier_description/urdf/meshes/frontier_mount_v6_realsense.dae" />
          </geometry>
        </visual>
        <inertial>
          <!-- TODO Update inertia parameters -->
          <origin xyz="-12.256e-3 -0.092e-3 -29.959e-3" rpy="0 0 0" />
          <mass value="0.212" />
          <inertia ixx="3.541e-4" ixy="5.656e-6" ixz="-6.046e-5"
                   iyy="5.340e-4" iyz="-7.84e-6" izz="3.672e-4" />
          </inertial>
          <collision>
	    <origin xyz="7e-3 0 ${77.25e-3/2}" rpy="0 0 0" />
            <geometry>
              <box size="133e-3 114e-3 77.25e-3" />
            </geometry>
          </collision>
      </link>
    </xacro:if>
    
    <!-- Assuming we are using Alphasense Core Dev Kit -->
    <xacro:unless value="${use_realsense}">
      <link name="frontier_mount">
        <visual>
          <geometry>
            <mesh filename="package://frontier_description/urdf/meshes/frontier_mount_v6.dae" />
          </geometry>
        </visual>
        <!-- TODO add inertia params -->
      </link>
    </xacro:unless>
    
    <joint name="${parent}_to_mount" type="fixed">
      <parent link="${parent}" />
      <child link="frontier_mount" />
      <xacro:insert_block name="origin" />
    </joint>
    
    <!-- Assuming we are using Ouster OS1-64 -->
    <xacro:if value="${use_ouster}">
      <!-- add OS Ouster Lidar sensor -->
      <xacro:os_device name="os_sensor" parent="frontier_mount" simulation="${simulation}">
        <origin xyz="0 0 ${lidar_z}" rpy="0 0 ${ouster_rotation}" />
      </xacro:os_device>
    </xacro:if>
    
    <!-- assuming we are using Hesai XT32 -->
    <xacro:unless value="${use_ouster}">
      <xacro:hesai_device name="pandar" parent="frontier_mount" simulation="${simulation}">
          <origin xyz="0 0 ${lidar_z}" rpy="0 0 0" />
      </xacro:hesai_device>

      <!-- Only add the Microstrain if the Hesai XT32 and the RealSense are used -->
      <xacro:if value="${use_realsense}">
        <!-- Add only the Microstrain 3DM-GX4-45 model for now -->
        <!-- TODO make the xacro parametric against the IMU model -->
        <xacro:microstrain_gx4_45 parent="frontier_mount" simulation="${simulation}">
          <!-- the origin is the same for both versions because it's in the -->
          <!-- middle of the screw holes at the bottom -->
          <origin xyz="34.047e-3 -34.58733e-3 65.7e-3" rpy="${pi} 0.0 0.0"/>
        </xacro:microstrain_gx4_45>
      </xacro:if>
    </xacro:unless>
      
    <!-- Assuming we are using RealSense D435i -->
    <xacro:if value="${use_realsense}">
      <xacro:sensor_d435i name="camera" parent="realsense_parent" use_nominal_extrinsics="${simulation}">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:sensor_d435i>
      
      <link name="realsense_parent" />
      
      <joint name="base_to_realsense" type="fixed">
        <origin xyz="73.65e-3 7.5e-3 50.75e-3" rpy="0 0 0" />
        <parent link="frontier_mount" />
        <child link="realsense_parent" />
      </joint>
    </xacro:if>
    
    <!-- Assuming we are using Alphasense Core Dev Kit -->
    <xacro:unless value="${use_realsense}">
        <xacro:alphasense parent="frontier_mount" four_cams="true">
          <origin xyz="32e-3 0.0 47.7e-3" rpy="0 0 0" />
        </xacro:alphasense>
    </xacro:unless>
    

    <!-- the geometric center of the bottom screws is not
         perfectly coincident with the base frame
         (i.e., geometry center of device,
         coincident with lidar's rotation center) -->
    <link name="bottom_screws_center" />
    <joint name="frontier_mount_to_bottom_screws_center" type="fixed">
      <origin xyz="0 0.475e-3 0" rpy="0 0 0" />
      <parent link="frontier_mount" />
      <child link="bottom_screws_center" />
    </joint>

    <!-- Bring in simulation data for Gazebo. -->
    <xacro:if value="${simulation}">
      <!-- Simulated Ouster -->
      <xacro:include filename="$(find frontier_description)/urdf/gazebo/ouster.gazebo"/>
      <xacro:ouster_gazebo name="ouster" min_vertical_angle="${lidar_fov}"
                                         max_vertical_angle="${-lidar_fov}"
                                         hz="${lidar_hz}"
                                         lasers="${lidar_beams}">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:ouster_gazebo>

      <!-- Simulated Realsense -->
      <xacro:include filename="$(find frontier_description)/urdf/gazebo/realsense_d435.gazebo"/>
      <!-- Add front camera -->
      <xacro:realsense_d435_gazebo name="camera">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:realsense_d435_gazebo>

      <!-- Add ground truth -->
      <xacro:include filename="$(find frontier_description)/urdf/gazebo/ground_truth.gazebo"/>
      <xacro:ground_truth_gazebo parent="${parent}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:ground_truth_gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
