<?xml version="1.0"?>
<!-- Copyright 2020 University of Oxford

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<robot name="rooster" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- include the RealSense d435 from official Intel's repository -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
  <xacro:include filename="$(find ouster_description)/urdf/ouster.urdf.xacro" />
  <xacro:macro name="rooster_device" params="parent:=base
                                             *origin
                                             simulation:=false
                                             ground_camera:=false
                                             ouster_vertical_angle:=45
                                             ouster_beams:=64
                                             ouster_hz:=10
                                             ouster_rotation=${-pi/4}">
    <!-- TODO make the xacro parametric against rooster version -->
    <link name="rooster_mount">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rooster_description/urdf/meshes/rooster_mount_v3.dae" />
        </geometry>
      </visual>
      <inertial>
        <!-- TODO Update inertia parameters -->
        <origin xyz="-12.256e-3 -0.092e-3 -29.959e-3" rpy="0 0 0" />
        <mass value="0.212" />
        <inertia ixx="3.541e-4" ixy="5.656e-6" ixz="-6.046e-5"
                 iyy="5.340e-4" iyz="-7.84e-6" izz="3.672e-4" />
        </inertial>
        <collision>
	  <origin xyz="7e-3 0 ${77.25e-3/2}" rpy="0 0 0" />
          <geometry>
            <box size="133e-3 114e-3 77.25e-3" />
          </geometry>
        </collision>
    </link>
    <joint name="${parent}_to_mount" type="fixed">
      <parent link="${parent}" />
      <child link="rooster_mount" />
      <xacro:insert_block name="origin" />
    </joint>
    <!-- add OS Ouster Lidar sensor -->
    <xacro:os_device name="os1_sensor" parent="rooster_mount" simulation="${simulation}">
      <origin xyz="0 0 77.258e-3" rpy="0 0 ${ouster_rotation}" />
    </xacro:os_device>
    <!-- add RealSense D435i (the mesh is actually the non-IMU version -->
    <xacro:sensor_d435i name="camera" parent="realsense_parent" use_nominal_extrinsics="${simulation}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:sensor_d435i>
    <link name="realsense_parent" />
    <joint name="base_to_realsense" type="fixed">
      <origin xyz="73.65e-3 7.5e-3 50.75e-3" rpy="0 0 0" />
      <parent link="rooster_mount" />
      <child link="realsense_parent" />
    </joint>
    <!-- the geometric center of the bottom screws is not
         perfectly coincident with the base frame 
         (i.e., geometry center of device, 
         coincident with ouster center) -->
    <link name="bottom_screws_center" />
    <joint name="rooster_mount_to_bottom_screws_center" type="fixed">
      <origin xyz="0 0.475e-3 0" rpy="0 0 0" />
      <parent link="rooster_mount" />
      <child link="bottom_screws_center" />
    </joint>
    <xacro:if value="${ground_camera}">
      <link name="ground_camera_shim">
        <visual>
          <geometry>
            <mesh filename="package://rooster_description/urdf/meshes/rooster_40deg_shim.dae" />
          </geometry>
        </visual>
        <inertial>
        <!-- TODO Update inertia parameters -->
        <origin xyz="9.513e-3 -2.85e-3 -12.423e-3" rpy="0 0 0" />
        <mass value="0.01" />
        <inertia ixx="10.931e-6" ixy="0.177e-6" ixz="-0.253e-6"
                 iyy="1.199e-6" iyz="0.075e-6" izz="10.21e-6" />
        </inertial>
      </link>

      <joint name="ground_camera_shim_joint" type="fixed">
        <origin xyz="59.5e-3 0 38.7e-3" rpy="0 0 0" />
        <parent link="rooster_mount" />
        <child link="ground_camera_shim" />
      </joint>
      <xacro:sensor_d435i name="ground_camera" parent="ground_camera_shim" use_nominal_extrinsics="${simulation}">
        <origin xyz="14.345e-3 7.5e-3 -25.212e-3" rpy="0 ${pi*40.0/180.0} 0" />
      </xacro:sensor_d435i>
    </xacro:if>

    <!-- Bring in simulation data for Gazebo. -->
    <xacro:if value="${simulation}">
      <!-- Simulated Ouster -->
      <xacro:include filename="$(find rooster_description)/urdf/gazebo/ouster.gazebo"/>
      <xacro:ouster_gazebo name="ouster" min_vertical_angle="${ouster_vertical_angle}"
                                         max_vertical_angle="${-ouster_vertical_angle}"
                                         hz="${ouster_hz}"
                                         lasers="${ouster_beams}">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:ouster_gazebo>
      
      <!-- Simulated Realsense -->
      <xacro:include filename="$(find rooster_description)/urdf/gazebo/realsense_d435.gazebo"/>
      <!-- Add front camera -->
      <xacro:realsense_d435_gazebo name="camera">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:realsense_d435_gazebo>
      <!-- Add ground camera -->
      <xacro:if value="${ground_camera}">
        <xacro:realsense_d435_gazebo name="ground_camera">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:realsense_d435_gazebo>
      </xacro:if>
      <!-- Add ground truth -->
      <xacro:include filename="$(find rooster_description)/urdf/gazebo/ground_truth.gazebo"/>
      <xacro:ground_truth_gazebo parent="${parent}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:ground_truth_gazebo>
    </xacro:if>
  </xacro:macro>

</robot>

