<?xml version="1.0"?>
<robot name="rooster" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- include the RealSense d435 from official Intel's repository -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find rooster_description)/urdf/ouster.urdf.xacro" />
  <link name="base" />

  <link name="realsense_parent" />

  <!-- add OS1 Ouster Lidar sensor -->
  <os1_lidar name="os1_lidar" parent="base">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </os1_lidar>

  <!-- add RealSense D435i (the mesh is actually the non-IMU version -->
  <sensor_d435 name="realsense_d435" parent="realsense_parent">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <xacro:arg name="use_nominal_extrinsics" default="true" />
  </sensor_d435>

  <joint name="base_to_realsense" type="fixed">
    <origin xyz="0.15 0 -0.15" rpy="0 0 0" />
    <parent link="base" />
    <child link="realsense_parent" />
  </joint>


  <link name="basealt" />
  <joint name="basealt_to_lidar" type="fixed" >
	  <parent link="os1_sensor" />
	  <child link="basealt"/>
	  <origin xyz="-0.025 -0.045 -0.054" rpy="0 0 ${pi}" />
  </joint>

</robot>

