<?xml version="1.0"?>
<robot name="rooster" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="base">
	  <visual>
		  <origin xyz="0 0 0.03675"/>
	    <geometry>
		    <cylinder radius="0.04350" length="0.07350" />

	    </geometry>
	         <material name="Grey">
       <color rgba="0.6 0.6 0.6 0.8"/>
     </material>
	  </visual>
        </link>

	<joint name="base_to_ouster" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base" />
		<child link="os1_sensor" />
	</joint>

	<link name="os1_sensor"/>

	<joint name="ouster_sensor_to_lidar" type="fixed">
		<origin xyz="0 0 0.03618" rpy="0 0 0" />
		<parent link="os1_sensor" />
		<child link="os1_lidar" />
	</joint>


	<link name="os1_lidar" />

	<joint name="ouster_sensor_to_imu" type="fixed">
		<origin xyz="0.006253 -0.011775 0.007645" rpy="0 0 0" />
		<parent link="os1_sensor" />
		<child link="os1_imu" />
	</joint>

	<link name="os1_imu" />

	<link name="realsense_parent" />
	
	<joint name="base_to_realsense" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base" />
		<child link="realsense_parent" />
	</joint>
</robot>



