<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="simulation"            default="false" />
  <arg name="model"                 default="$(find frontier_description)/urdf/frontier_standalone.urdf.xacro" />
  <arg name="robot_state_publisher" default="false" />
  <!-- Sometimes the ouster may have a different rotation to the default-->
  <arg name="ouster_rotation"       default="0"/>

  <!-- Load robot description -->
  <param name="robot_description" command="xacro $(arg model) simulation:=$(arg simulation) ouster_rotation:=$(arg ouster_rotation)" />

  <!-- Launch robot_state_publisher if required -->
  <node if="$(arg robot_state_publisher)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
